.accordion {
  margin: 20px auto;
  width: 75%;
  display: flex;
  box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.4);
  transition: box-shadow .25s ease;
}

.accordion.disabled {
  pointer-events: none;
}

.accordion:hover {
  cursor: pointer;
  box-shadow: 0px 0px 35px 5px rgba(0,0,0,0.6);
  transition: box-shadow .25s ease;
}

/* 
  default state 
*/
.accordion:hover .accordion-item {
  width: 30%;
}

/* hovered state */
.accordion .accordion-item:hover {
  width: 70%;
  transition: width .25s ease;
}


.accordion-item {
  height: 250px;
  width: 50%;
  text-align: center;
  padding: 10px;
  justify-content: center;
  align-items: center;
  transition: width .25s ease;
}

.accordion-item:hover .accordion-item-content {
  opacity: 1;
  transition: opacity .5s ease-in .15s;
}

.accordion-item-content {
  opacity: 0;
  height: 85%;
  padding: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accordion-item h1 {
  margin: 0;
  position: relative;
  top: calc(50% - 21px);
  text-align: center;
  transition: top .25s;
}

.accordion-item.selected-mode h1 {
  text-decoration: underline;
}

.accordion-item:hover h1 {
  top: 20px;
  transition: top .25s;
}

.accordion p {
  vertical-align: middle;
  font-size: large;
}

.accordion .accordion-item:nth-child(1) {
  background-color:#1db954;
}

.accordion .accordion-item:nth-child(2) {
  background-color: #179443;
}

@media only screen and (max-width: 600px) {
  .accordion {
    margin: 50px auto;
    height: 80%;
    display: block;
  }

  .accordion:hover .accordion-item {
    height: 100%;
    width: 100%;
  }

  .accordion .accordion-item:hover {
    height: 100%;
    width: 100%;
  }

  .accordion-item {
    height: auto;
    min-height: 250px;
    width: 100%;
    text-align: center;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }

  .accordion-item h1 {
    margin: 0;
    text-align: center;
    top: 0;
  }

  .accordion-item:hover h1 {
    top: 0;
  }
    
  .accordion-item-content {
    opacity: 1;
  }
}